<div class="container">
  <a style="font-size: 16px" href="/events">Events Dashboard</a>
  <hr>
  <h3>Edit Your Profile</h3>
  <form action="/users/<%= @user.id%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="put">
    <div class="input-field">
      <input type="text" value="<%= @user.first_name %>" name="user[first_name]" id="first_name">
      <label class="active" for="first_name">First Name</label>
    </div>
    <div class="input-field">
      <input type="text" value="<%= @user.last_name %>" name="user[last_name]" id="last_name">
      <label class="active" for="last_name">Last Name</label>
    </div>
    <div class="input-field">
      <input type="text" value="<%= @user.email %>" name="user[email]" id="email">
      <label class="active" for="email">Email</label>
    </div>
    <div class="input-field">
      <input type="text" value="<%= @user.location %>" name="user[location]" id="location">
      <label class="active" for="location">Location</label>
    </div>
    <div class="input-field">
      <select class="browser-default" name="user[state]" id="state">
        <option value="<%= @user.state %>"><%= @user.state %></option>
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AR">AR</option>
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="IA">IA</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="MA">MA</option>
        <option value="MD">MD</option>
        <option value="ME">ME</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MS">MS</option>
        <option value="MO">MO</option>
        <option value="MT">MT</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="NE">NE</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NV">NV</option>
        <option value="NY">NY</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VA">VA</option>
        <option value="VT">VT</option>
        <option value="WA">WA</option>
        <option value="WI">WI</option>
        <option value="WV">WV</option>
        <option value="WY">WY</option>
      </select>
      <br>
      <input type="submit" class="btn blue" value="Update Records">
    </div>
  </form>
</div>
