<div class="container">
  <div class="row">

    <h1><%= "#{@student.branch}'s #{@student.first_name} #{@student.last_name}" %></h1>

    <p><b>Email:</b> email </p>

  </div>

  <div class="row">

    <h1>Cohort</h1>

    <% if flash[:notice] %>
    	<p><%= flash[:notice] %></p>
    <% end %>

    <table class="table table-striped">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action(s)</th>
      </thead>
      <tbody>

    		<% @cohort.each do |student| %>
    		<tr>
    			<td><%= student.first_name %></td>
    			<td><%= student.last_name %></td>
    			<td><%= student.email %></td>
          <td>
            <a href="/dojos/<%= @student.dojo_id %>/students/<%= student.id %>/edit"> Edit</a>
          </td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <a href="/dojos"><button type="button" name="button">Home</button></a>



</div>
