
<div class="container">

<div class="row">
  <h1>Your Gold: <%=@gold%></h1>
</div>

<div class="row text-center">
  <!-- Farm -->
   <div class="col-md-3">
     <h2>Farm</h2>
     <p>(earns 10-20 golds)</p>

   <form action="/process" method="post">
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
     <input type="hidden" name="location" value="farm">

     <button type="submit" class="btn btn-default"> Find Gold</button>
   </form>
  </div>

   <!-- Cave -->
    <div class="col-md-3">
        <h2>Cave</h2>
        <p>(earns 5-10 golds)</p>

      <form action="/process" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="location" value="cave">
        <input type="hidden" name="location" value="cave">

        <button type="submit" class="btn btn-default"> Find Gold</button>
      </form>
    </div>

    <!-- House -->
    <div class="col-md-3">
       <h2>House</h2>
       <p>(earns 2-5 golds)</p>

     <form action="/process" method="post">
       <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
       <input type="hidden" name="location" value="house">
       <button type="submit" class="btn btn-default"> Find Gold</button>
     </form>
    </div>

     <!-- Casino -->
    <div class="col-md-3">
        <h2>Casino</h2>
        <p>(earns/takes 0-50 golds)</p>

      <form action="/process" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="location" value="casino">
        <button type="submit" class="btn btn-default"> Find Gold</button>
      </form>
    </div>
</div>

<hr>

<div class="row" style="border: 2px solid black; height: 200px; overflow: scroll">
  <%@activities.each do |activity| %>
    <% if activity["won"] == true %>
        <p style="color: green"><%= activity['sentence'] %></p>
      <% else %>
        <p style="color: red"><%= activity['sentence'] %></p>
    <% end %>
  <% end %>
</div>

</div>
